# Logs
*.log
logs/

# Banco H2 gerado em runtime
data/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE / Utilitários
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
requests.http

# OS
.DS_Store
Thumbs.db
